ul.mainlist
{
  width: 95% !important;
  margin: 0 auto !important;
  list-style: none;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

ul.mainlist li
{
    padding:10px!important;
   
    overflow: hidden;
}

ul.mainlist li:nth-child(odd)
{
    background: rgba(75,75, 255, 0.1)!important;
    
}
ul.mainlist li:nth-child(even)
{
    background: rgba(111,111, 111, 0.1)!important;
   
}

ul.mainlistChild
{
  float:right;
  list-style: none;
  padding: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  clear:both;
}




li.button
{
    width: 80% !important;
    margin: 0 auto !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    margin-bottom: 10px !important;
}
