ul.mainlist
{
  width: 95% !important;
  margin: 0 auto !important;
  list-style: none;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
}

ul.mainlist li
{
    padding:10px!important;
   
    overflow: hidden;
}

ul.mainlist li:nth-child(odd)
{
    background: rgba(75,75, 255, 0.1)!important;
    
}
ul.mainlist li:nth-child(even)
{
    background: rgba(111,111, 111, 0.1)!important;
   
}

ul.mainlistChild
{
  float:right;
  list-style: none;
  padding: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
  clear:both;
  border-radius: 10px;
  overflow: hidden;
}




li.button
{
    width: 80% !important;
    margin: 0 auto !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    margin-bottom: 10px !important;
}


a.textarea:after
{
    background-image: none !important;
    display:none;
}

#sopralluoghiStep2Page ul li
{
    margin-bottom:2px;
}

#sopralluoghiStep2Page ul li a
{
    padding: .7em 1em;
}


#sopralluoghiStep2Page .ui-collapsible-set,
#sopralluoghiStep2Page .ui-collapsible:not(.ui-collapsible-inset), 
#sopralluoghiStep2Page .ui-collapsible-heading .ui-btn
{
    border-top: 0!important;
    border-bottom: 0 !important;
}

#sopralluoghiStep2Page .ui-btn
{
    font-size:14px;
    line-height: 14px;
}


#sopralluoghiStep2Page #roadSignContainer .ui-collapsible
{
    margin: 0 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
    box-shadow: 2px 2px 5px #cdcdcd;
}

#supporto_div
{
    overflow:hidden;
    padding:10px;
    border-radius: 0 0 10px 10px;
    border: 1px solid #cdcdcd;
    /* box-shadow: 2px 2px 5px #cdcdcd; */
    margin: 0;
}

#supporto_dialogs a
{
    border:0 !important;
}

#supporto_dialogs li
{
    background:none !important;
}

#supporto_dialogs h1 a.alert_sup, .itm_selected
{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc8c8+50,ffc8c8+50,ff0000+51 */
background: rgb(255,200,200) !important; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,200,200,1) 50%, rgba(255,200,200,1) 50%, rgba(255,0,0,1) 51%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,200,200,1)), color-stop(50%,rgba(255,200,200,1)), color-stop(51%,rgba(255,0,0,1))) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,200,200,1) 50%,rgba(255,200,200,1) 50%,rgba(255,0,0,1) 51%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,200,200,1) 50%,rgba(255,200,200,1) 50%,rgba(255,0,0,1) 51%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,200,200,1) 50%,rgba(255,200,200,1) 50%,rgba(255,0,0,1) 51%) !important; /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,200,200,1) 50%,rgba(255,200,200,1) 50%,rgba(255,0,0,1) 51%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc8c8', endColorstr='#ff0000',GradientType=0 ) !important; /* IE6-9 */
color: rgba(100, 100, 100, 0.53) !important;
text-shadow: 0 1px 0 #444444 !important;
border-radius:20px !important;
margin:0 15px !important;
}


#materiale_supporto li a, #dimensioni_segnale li a,#pellicola_segnale li a
{
    border:0 !important;
    border-radius:20px !important;
    margin: 0 5px !important;
}

#riepilogo li
{
    padding:0 !important;
    width:95% !important;
    margin:0 auto !important;
}
#riepilogo li ul
{
    margin: 10px 0;
}


#riepilogo h1
{
    width: 95%;
    margin: 10px auto 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
}

.sopralluogo_elements
{
    overflow:hidden;
    padding:0;
    border-radius: 0 0 10px 10px;
    border: 1px solid #cdcdcd;
    box-shadow: 2px 2px 5px #cdcdcd;
    margin-left:5px;
}

.sopralluogo_elements a, .sopralluogo_elements
{
    font-size:12px;
}

